<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Kinect Ros</name>
  
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <!-- <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email> -->
    <name>Jon Dolan</name>
    <email>jondolan@gatech.edu</name>
  </author>

  <description>
    Kinect sensor with ROS data publishing
  </description>
</model>
